<% if logged_in? %>

<% @tasks.each do |task| %>
<li><%= task.content %>


<%= link_to '詳細表示', task_path(task) %>
<%= link_to '編集', edit_task_path(task) %>
</li>
  
<% end %>  
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>



